<form (ngSubmit)="saveAndGoToOverview()"
      [formGroup]="bookForm"
      #bookFormDirective="ngForm"
      [class.ng-submitted]="bookFormDirective.submitted">
  <ng-container formGroupName="author">
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name:</label>
      <ba-basic-validation-output>
        <input type="text" id="firstname"
               class="form-control"
               formControlName="firstname"
               [ngClass]="{'is-invalid':bookForm.get('author.firstname')?.invalid }">
     </ba-basic-validation-output>
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name:</label>
      <ba-basic-validation-output>
        <input type="text" id="lastname"
             class="form-control"
             formControlName="lastname"
             [ngClass]="{'is-invalid':bookForm.get('author.lastname')?.invalid }">
     </ba-basic-validation-output>
    </div>
  </ng-container>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <ba-basic-validation-output>
      <input id="title" class="form-control"
           formControlName="title"
           [ngClass]="{'is-invalid':bookForm.get('title')?.invalid }">
    </ba-basic-validation-output>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
