<form (ngSubmit)="saveAndGoToOverview()"
      [formGroup]="bookForm"
      #bookFormDirective="ngForm"
      [class.ng-submitted]="bookFormDirective.submitted">
  <ng-container formGroupName="author">
    <ba-book-author-nested-form></ba-book-author-nested-form>
  </ng-container>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <ba-basic-validation-output>
      <input id="title" class="form-control"
           formControlName="title"
           [ngClass]="{'is-invalid':bookForm.get('title')?.invalid }">
    </ba-basic-validation-output>
  </div>
  <ba-details-nested-form  formControlName="details"> </ba-details-nested-form>
  <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid" >Save</button>
</form>
