<ng-container [formGroup]="authorFormGroup">
  <div class="mb-3">
    <label for="firstname" class="form-label">First Name:</label>
    <ba-basic-validation-output>
      <input type="text" id="firstname"
             class="form-control"
             formControlName="firstname"
             [ngClass]="{'is-invalid':authorFormGroup.get('firstname')?.invalid }">
    </ba-basic-validation-output>
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Last Name:</label>
    <ba-basic-validation-output>
      <input type="text" id="lastname"
             class="form-control"
             formControlName="lastname"
             [ngClass]="{'is-invalid':authorFormGroup.get('lastname')?.invalid }">
    </ba-basic-validation-output>
  </div>
</ng-container>
